:root {
    --lh-primary: #0e4b29;
    --lh-secondary: #ebeae6;
    --lh-focus: #5190ee;
    --lh-default-background: #ffffff;
    --lh-cta-background: #f7941c;
    --lh-cta-background-active: #d37e17;
    --lh-text-primary: #000000;
    --lh-text-secondary: #747d85;
    --lh-text-on-background: #ffffff;
}