<template>
	<div class="slider-wrapper">
		<div ref="slider" class="slider">
			<ul class="slider__content">
				<HotelCard
					v-for="hotel in hotels"
					:id="hotel.id"
					:ref="(el) => setRef(el, hotel.id)"
					:key="hotel.id"
					:image="hotel.image"
					:distance="hotel.distance"
					:name="hotel.name"
					:price="hotel.price"
					:is-active="hotel.id === selected.id"
					@select="handleSelect(hotel)"
					@book="isBooking = true"
				/>
			</ul>
		</div>
	</div>
	<teleport to="body">
		<Modal v-if="isBooking" @close="isBooking = false">
			<BookingForm :hotel="selected" @submit="isBooking = false" />
		</Modal>
	</teleport>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import HotelCard from './HotelCard.vue';
import Modal from './Modal.vue';
import BookingForm from './BookingForm.vue';

const ACTIVE_SLIDE_OFFSET = 20;

export default {
	name: 'ApartmentSlider',

	components: {
		HotelCard,
		Modal,
		BookingForm,
	},

	beforeUpdate() {
		this.refs = {};
	},

	data() {
		return {
			refs: {},
			isBooking: false,
		};
	},

	computed: {
		...mapState('hotels', ['hotels', 'selected']),

	},

	watch: {
		selected({ id }) {
			const card = this.refs[id];
			if (card.$el) {
				this.scrollTo(card.$el);
			}
		},
	},

	methods: {
		...mapActions('hotels', ['selectHotel']),

		handleSelect(hotel) {
			this.selectHotel(hotel);
		},

		scrollTo(element) {
			const { offsetLeft } = element;
			this.$refs.slider.scrollTo({ left: offsetLeft - ACTIVE_SLIDE_OFFSET, behavior: 'smooth' });
		},

		setRef(el, id) {
			this.refs[id] = el;
		},
	},
};
</script>

<style scoped>
    .slider-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 48%;
        max-height: 250px;
        width: 100vw;
        overflow: hidden;
    }

    .slider {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .slider__content {
        margin: 0;
        padding: 0;
        display: flex;
        list-style-type: none;
    }
</style>
