<template>
	<form class="booking-form" action="#" @submit.prevent="handleSubmit">
		<label class="form__label">
			First Name
			<input
				v-model="firstName"
				class="form__input"
				type="text"
				@focus="clearError"
			>
		</label>
		<label class="form__label">
			Last Name
			<input
				v-model="lastName"
				class="form__input"
				type="text"
				@focus="clearError"
			>
		</label>
		<label class="form__label">
			Email
			<input
				v-model="email"
				class="form__input"
				type="email"
				@focus="clearError"
			>
		</label>
		<label class="form__label">
			Phone number
			<input
				v-model="phone"
				class="form__input"
				type="tel"
				@focus="clearError"
			>
		</label>

		<div v-if="error" class="form__error">
			{{ error }}
		</div>

		<button class="form__submit">
			Book
		</button>
	</form>
</template>

<script>
const requiredFields = ['firstName', 'lastName', 'email', 'phone'];
export default {
	name: 'BookingForm',

	props: {
		hotel: {
			type: Object,
			default: null,
		},
	},

	inheritAttrs: false,

	data() {
		return {
			firstName: '',
			lastName: '',
			email: '',
			phone: '',
			error: '',
		};
	},

	methods: {
		clearError() {
			this.error = '';
		},
		handleSubmit() {
			if (!requiredFields.every((key) => !!this[key])) {
				this.error = '❌ All fields are required';
				return;
			}
			// eslint-disable-next-line no-alert
			alert(`Thank you for booking ${this.hotel.name}`);
			this.$emit('submit', this.hotel);
		},
	},
};
</script>

<style lang="scss" scoped>
    .booking-form {
        display: flex;
        flex-direction: column;
		width: 100%;
		max-width: 400px;
        font-family: var(--lh-font-family);
    }

    .form__label {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .form__input {
        font-family: sans-serif;
        color: var(--lh-text-primary);
        font-size: 14px;
        font-weight: 300;
        height: 40px;
        padding: 10px;
    }

    .form__submit {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--lh-cta-background);
        color: var(--lh-text-on-background);
        font-weight: bold;
        border: none;
        border-radius: 0;
        outline: none;

        &:focus {
            border: 1px solid var(--lh-focus);
            box-shadow: 0 0 5px var(--lh-focus);
        }
        &:active  {
           background-color: var(--lh-cta-background-active);
        }
    }

    .form__error {
        color: tomato;
    }
</style>
