<template>
	<header class="header-main">
		<a href="/" class="title"><Logo /></a>
		<button type="button" class="header__menu">
			<MenuIcon class="menu__icon" />
		</button>
	</header>
</template>

<script>
import Logo from '../assets/logo.svg';
import MenuIcon from '../assets/burger-icon.svg';

export default {
	name: 'Header',

	components: {
		Logo,
		MenuIcon,
	},
};
</script>

<style scoped>
    .title {
        color: var(--lh-primary);
    }

    .header-main {
        position: fixed;
        top: 0;
        z-index: 3;
        background-color: var(--lh-secondary);
        width: 100vw;
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__menu {
        border: none;
        background: transparent;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .menu__icon {
        width: 100%;
    }
</style>
