<template>
	<MapLoader :api-key="apiKey" :map-config="mapConfig">
		<template #default="{google, map}">
			<PlacesLoader
				:google="google"
				:map="map"
				:config="placesConfig"
				@clearResults="clearHotels"
				@search="addHotels"
			/>
			<MapMarker
				v-for="marker in markers"
				:key="marker.id"
				:google="google"
				:map="map"
				:marker="marker"
				@click="selectHotel"
			/>
		</template>
	</MapLoader>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import { mapSettings, placesSearchConfig } from '../constants/mapSettings';
import MapLoader from './googleMap/MapLoader.vue';
import MapMarker from './googleMap/MapMarker.vue';
import PlacesLoader from './googleMap/PlacesLoader.vue';

const ICON_ACTIVE = '/home-icon-active.svg';
const ICON = '/home-icon.svg';
export default {
	name: 'HotelsMap',

	components: {
		MapLoader,
		MapMarker,
		PlacesLoader,
	},

	computed: {
		...mapState('hotels', ['hotels', 'selected']),

		apiKey() {
			return process.env.G_API_KEY;
		},

		markers() {
			return this.hotels.map((hotel) => {
				const isActive = this.selected.id === hotel.id;
				return {
					...hotel,
					icon: isActive ? ICON_ACTIVE : ICON,
					zIndex: isActive ? 999 : 1,
					isActive,
				};
			});
		},

		placesConfig() {
			return placesSearchConfig;
		},

		mapConfig() {
			return {
				...mapSettings,
				zoom: 13,
			};
		},
	},

	methods: {
		...mapActions('hotels', ['selectHotel', 'addHotels', 'clearHotels']),
	},
};
</script>

<style>

</style>
