<template>
	<li
		class="card"
		:class="{active: isActive}"
		v-bind="$attrs"
		@click="$emit('select')"
	>
		<div class="card__content">
			<div class="content__right">
				<img
					:src="image.url"
					:alt="name"
					class="content__image"
					loading="lazy"
				>
			</div>
			<div class="content__left">
				<div class="content__title">
					{{ name }}
				</div>
				<div class="content__description">
					{{ Math.round(distance * 100) / 100 }} km from the city center
				</div>
				<div v-if="price" class="content__price">
					{{ price.amount }} {{ price.currency }}
				</div>
				<div class="content__info">
					{{ info }}
				</div>
			</div>
		</div>
		<div class="card__footer">
			<button class="card__cta" type="button" @click="$emit('book')">
				Book
			</button>
		</div>
	</li>
</template>

<script>
export default {
	name: 'HotelCard',

	props: {
		id: {
			type: String,
			default: null,
		},
		image: {
			type: Object,
			default: () => ({
				url: '',
			}),
		},
		name: {
			type: String,
			default: '',
		},
		distance: {
			type: Number,
			default: 0,
		},
		price: {
			type: Object,
			default: null,
		},
		info: {
			type: String,
			default: 'Designs may vary',
		},
		isActive: {
			type: Boolean,
			default: false,
		},
	},

	emits: ['book', 'select'],
};
</script>

<style lang="scss" scoped>
    .card {
        padding: 16px;
        background-color: var(--lh-default-background);
        margin: 5px;
        height: 225px;
        min-width: 280px;
        max-width: 280px;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: box-shadow 0.3s, transform 0.3s;

        &.active {
            box-shadow: 0px 2px 10px rgb(0, 0, 0);
            transform: scale(1.05);
        }
    }

    .card__content {
        display: flex;
        height: 80%;
    }

    .content__right {
        flex: 1.5;
        flex-shrink: 0;
        overflow: hidden;
        display: flex;
    }

    .content__left {
        flex: 2;
        min-width: 55%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        padding: 0 0 8px 8px;
        color: var(--lh-text-primary);
    }

    .content__image {
        width: 100%;
        object-fit: cover;
        padding-bottom: 8px;
    }

    .card__cta {
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--lh-cta-background);
        color: var(--lh-text-on-background);
        font-weight: bold;
        border: none;
        border-radius: 0;
        outline: none;

        &:focus {
            border: 1px solid var(--lh-focus);
            box-shadow: 0 0 5px var(--lh-focus);
        }
        &:active  {
           background-color: var(--lh-cta-background-active);
        }
    }

    .content__title {
        font-weight: bold;
        margin-bottom: 4px;
    }

    .content__description {
        color: var(--lh-text-secondary);
        margin-bottom: auto;
    }

    .content__price {
        font-size: 1.3em;
        font-weight: bold;
    }

    .content__info {
        color: var(--lh-text-secondary);
    }
</style>
