
<template>
	<div class="overlay">
		<div class="modal">
			<button class="modal__close" @click="$emit('close')">
				╳
			</button>
			<slot>
			</slot>
		</div>
	</div>
</template>

<script>
export default {
	name: 'Modal',

	emits: ['close'],
};
</script>

<style>
    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }

    .modal {
        position: relative;
        background-color: var(--lh-default-background);
        border-radius: 10px;
        width: 80%;
        max-width: 400px;
        padding: 40px 16px;
    }

    .modal__close {
        position: absolute;
        top: 10px;
        right: 20px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid var(--lh-text-primary);
        background-color: transparent;
        z-index: 9;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
