<template>
	<div class="page-wrapper light-theme">
		<Header />
		<HotelsMap />
		<ApartmentSlider />
	</div>
</template>

<script>
import Header from './components/Header.vue';
import HotelsMap from './components/HotelsMap.vue';
import ApartmentSlider from './components/ApartmentSlider.vue';

export default {
	name: 'Root',

	components: {
		Header,
		HotelsMap,
		ApartmentSlider,
	},
};
</script>

<style src="./styles/light-theme.css"></style>
<style src="./styles/variables.css"></style>
<style src="./styles/reset.css"></style>

<style lang="scss" scoped>
	.page-wrapper {
		padding: 0;
		margin: 0;
		font-family: var(--lh-font-family);
	}
</style>
