<template>
	<div ref="googleMap" class="google-map"></div>
	<template v-if="google && map">
		<slot :google="google" :map="map"></slot>
	</template>
</template>

<script>
import { Loader } from '@googlemaps/js-api-loader';
import getGeoPosition from '../../utils/getGeoPosition';

const BERLIN_COORDS = { lat: 52.5484571, lng: 13.4108582 };

export default {
	name: 'MapLoader',

	props: {
		mapConfig: {
			type: Object,
			default: () => ({}),
		},
		apiKey: {
			type: String,
			default: '',
		},
	},

	async mounted() {
		const loader = new Loader({
			apiKey: this.apiKey,
			version: 'weekly',
			libraries: ['places'],
		});

		const [center = BERLIN_COORDS] = await Promise.all([getGeoPosition(), loader.load()]);
		this.initializeMap(center);
	},

	beforeUnmount() {
		this.google.maps.event.clearInstanceListeners(this.map);
	},

	data() {
		return {
			google: null,
			map: null,
		};
	},

	methods: {
		initializeMap(center) {
			const mapContainer = this.$refs.googleMap;
			if (window.google) {
				this.google = window.google;
			}
			// eslint-disable-next-line no-undef
			this.map = new this.google.maps.Map(mapContainer, { ...this.mapConfig, center });
		},
	},

};
</script>

<style>
    .google-map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
        background-color: #aadaff;
    }
</style>
